@media (max-width: 768px) {

	header {
        flex-direction: column;
     }

}

@media (min-width: 769px) and (max-width: 1024px) {

        header {
            flex-direction: row;
         }
    
    }

    @media (min-width: 1025px) {

        header {
            flex-direction: row;
        }
    
    
    }

@media screen and (max-width:800px){
    .pie-pagina{
        .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
}
}