@import "../utilities/variables";

.videos-ramones{
    display: flex;
    flex-direction: column;
    //variable
    background-color: $fondo-web;
    align-items: center;
    color: $color-letra;
    padding-bottom: 30px;
    iframe{
        width: 50%;
    }

    h3{
        text-align: center;
        font-family: arial;
        //variables
        color: $color-letra;
        background-color: $fondo-web;
        padding: 20px;
    
    }
}