.boton-dos{
    display: block;
    width: 150px;
    background-color: yellow;
    margin: 20px,35px;
    font-family: impact;
    text-decoration: none;
    text-align: center;
    padding: 15px, 20px;
    border-radius: 5px;
    color: black;
    
}